/* This is comment in CSS */
p {
    color: snow;
    background: black;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px green;
}
ol {
    color: aqua;
    list-style-type: upper-roman;
}

ul {
    color: blueviolet;
    list-style-type: square;
}